@use'/src/components/Styles.scss';

.cart {
  width: 100%;
  max-width: 330px;
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0;
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(110%,0);
  transition: all 400ms ease;
}

.cart-items {
  flex-grow: 1;
  overflow: auto;
}

.cart-resume {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 35px 0 15px;
  border-top: 1px solid #ddd;
}


.cart-items .cart-item:last-child {
  border-bottom: none;
}

.cart--active {
  transform: translate(0,0);
}

.buyBtn {
  color: white;
  background-color: #1D4ED8;
  --ring-color: #93C5FD;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

.buyBtn:hover {
  background-color: #1E40AF;
}

.buyBtn:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.buyBtn .bi-bag-check-fill {
  display: flex;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
  //animation: spin_357 1s linear infinite;
}

.bi-check-circle-fill {
  color:  #32CD32;
  margin-left: 1rem;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}