@use'/src/components/Styles.scss';

.section__heading {
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem 0 10px 0;
    color: grey;
}

.menu__list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.menu__item {
    width: 114px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #d6e8db;
    padding: 10px 13px;
    border-radius: 10px;
    color: grey;
}
.menu__item img {
    width: 100%;

}

/*Cards*/

.card__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.card {
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    text-align: center;
    color:grey ;
}

.card img {
    width: 100%;
}
 
.card__price {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cart__price .price {
    color: #99a98f;
    font-weight: 600;
}

.bi-plus-lg{
    background: #99a98f;
    color: #d6e8db;
    border-radius: 50%;
    cursor: pointer;
}

.bi-plus-lg:hover {   
    color: #d6e8db;
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 , 236, 236) 0px 0px 0px 3px;
    
}

 /* Sidebar :) */

 .sidebar {
    width: 300px;
    height:100%;
    position: fixed;
    top: 0;
    //right: 0;
    right: -300px;
    background-color: #d6e8db;
    box-shadow: -4px 0 6px rgba(0,0,0,0.1);
    transition: right 0.3 ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }

 .sidebar .open {
    right: 0;
 }

 .sidebar-close {
    position: absolute;
    right: 10px;
 }

 .cart__tems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;

 }

 .individual-cart-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    color: grey;
    border:1px solid #d6e8db;
 }

 .cart-item-price {
    color: #99a98f;
 }

 .siderbar__footer {
    position: absolute;
    bottom: 10px;
    width: 88%;
 }

 .total__amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #d6e8db;
    padding: 15px 10px;
 }

 .cart-total {
    font-size: 16px;
    color: #99a98f;
    font-weight: 500;
 }

 .checkout-btn {
    width: 100%;
    margin-top: 2rem;
    background: rgb(9,189,9);
    color: #d6e8db;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
 }

 .remove-item {
    background: #99a98f;
    color: #d6e8db;
    border-radius: 5px;
    padding: 2px 8px;
    cursor: pointer;
    margin-left: 5px;
 }