@use'/src/components/Styles.scss';

.section__heading {
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem 0 10px 0;
    color: grey;
}

.menu__list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.menu__item {
    width: 114px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #d6e8db;
    padding: 10px 13px;
    border-radius: 10px;
    color: grey;
}
.menu__item img {
    width: 100%;

}

/*Cards*/

.card__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.card {
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    text-align: center;
    color:grey ;
}

.card img {
    width: 100%;
}
 
.card__price {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cart__price .price {
    color: #99a98f;
    font-weight: 600;
}

.bi-plus-lg{
    background: #99a98f;
    color: #d6e8db;
    border-radius: 50%;
    cursor: pointer;
}

.bi-plus-lg:hover {   
    color: #d6e8db;
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 , 236, 236) 0px 0px 0px 3px;
    
}

 /* Sidebar :) */

