@use'/src/components/Styles.scss';


.bi-cart2 {
  background: transparent !important;
  border: 1px solid #99a98f;
  color: #99a98f;
}

.cart__icon {
  position: relative;
}

.cart__icon span {
  background: rgb(9, 189, 9);
  color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  position: absolute;
  right: -5px;
  top: -5px;
}

