@use'/src/components/Styles.scss';

.header {
    padding: 1rem 0;
    z-index: 1;
    width: 100%;

}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.burguer__icon i {
    padding: 10px;
    background-color: #99a98f;
    border-radius: 5px;
    cursor: pointer;

}

.search__box {
    background-color: #d6e8db;
    border-radius: 10px;
    flex: 1;
    align-items: center;
    padding: 0 1rem;


}

.search__box i {
    color: #99a98f;
}

.search__box input {
    background: transparent;
    padding: 10px;
    width: 80%;
    border: none;
}

.menu__icons {
    display: flex;
    align-items: center;
    gap: 10px;

}

.menu__icons i {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: #d6e8db;
}

.bi-cart2 {
    background: transparent !important;
    border: 1px solid #99a98f;
    color: #99a98f;
}

.cart__icon {
    position: relative;
}

