@use './components/Navbar/Navbar';

:root {
    $font-family: "Poppins", sans-serif;
    $primary-color:#99a98f;
    $grey-light:#d6e8db;
    $white:#fff;
    $secondary-color:rgb(9,189,9);
    $text-color:grey;
}